{% extends "base.html" %}
{% block title %}Магазин {% endblock %}
{% block content %}
<div class="pricing-header px-2 pt-md-5 pb-md-4 mx-auto py-5 text-center">
    <h1 class="display-4">Sky-price</h1>
    <p class="lead">Sky-price - магазин компьютерных комплектующих по дешевым ценам!</p>
</div>

<div class="container-fluid pb-3">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5">
        {% for item in page_obj %}
        <div class="col gy-3">
            <div class="card text-center" style="width: 25rem; height: 40rem;">
                <div class="d-flex justify-content-center">
                    <a href="/details/{{ item.id }}">
                        <img src={{ item.image }} class="card-img-top" alt="img"
                             style="width: 20rem; height: 20rem;">
                    </a>
                </div>
                <div class="h-75">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ item.name }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container" style="height: 10rem;">
                        <h1 class="card-title pricing-card-title">₽ {{ item.price }}</h1>
                        <!--                        <br>-->
                        <h6>{{ item.description|truncatechars:100 }}</h6>
                    </div>
                    <div class="h-25 float-bottom">
                        <button type="button" class="btn btn-lg btn-outline-primary mb-2 px-5 float-bottom">Купить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" style="text-decoration: none; font-size: 1.5em;">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" style="text-decoration: none; font-size: 1.5em;">
                previous
            </a>
        {% endif %}

        <span class="current" style="text-decoration: none; font-size: 1.5em;">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }} " style="text-decoration: none; font-size: 1.5em;">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}"
           style="text-decoration: none; font-size: 1.5em;">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock %}