{% extends "base.html" %}
{% block title %}Новый товар{% endblock %}
{% block content %}

{% if not categories %}
<h4>Отсутствуют категории товаров. Перед созданием товара создайте его категорию.</h4>
<a href="/" class="btn btn-lg btn-outline-primary mx-2 px-5 m-3 float-bottom">На главную</a>
{% else %}
<div class="px-4 p-3 ms-4 mb-3">
    <h2>Добавление товара</h2>
</div>
<div class="card col col-md-6 px-4 p-3 ms-4 mb-3">
    <form method="post" class="form-floating" enctype="multipart/form-data">
<!--    <form method="post" action="add" class="form-floating" enctype="multipart/form-data">-->
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex container-fluid justify-content-evenly">
            <button type="submit" class="btn btn-primary col-5 p-3">
            {% if product_editing_mode %}
                Изменить
            {% else %}
                Добавить
            {% endif %}
            </button>
            <!--a href="#" class="btn btn-secondary col-5 p-3" onClick="javascript:history.go(-1);">Отменить</a-->
        </div>
    </form>
</div>
{% endif %}
{% endblock %}