{% extends "base.html" %}
{% block title %}Новая категория{% endblock %}
{% block content %}
<div class="px-4 p-3 ms-4 mb-3">
    <h2>Добавление категории</h2>
</div>
<div class="card col col-md-6 px-4 p-3 ms-4 mb-3">
    <form method="post" class="form-floating">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex container-fluid justify-content-evenly">
            <button type="submit" class="btn btn-primary col-5 p-3">Добавить</button>
            <a href="#" class="btn btn-secondary col-5 p-3" onClick="javascript:history.go(-1);">Отменить</a>
        </div>
    </form>
</div>
{% endblock %}